* {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: red;
}

.paragrafo{
    font-family: 'Montserrat', sans-serif;font-size: 16px;
}

#custom{
    font-family: 'Montserrat', sans-serif;font-size: 10px;
}

#kekw{
    font-weight: bold;
}

p[class$="test"] {
    background: royalblue;
    color: white;
}

a.hightlight:hover{
    color:maroon;
}

p.paragrafo:first-letter {
    color: #ff0000;
    font-size: xx-large;
  }

section h4 {
    color: royalblue;
}

h3 {
    color: royalblue;
    font-weight: 900;
}

h3 + p {
   font-family: 'Courier New', Courier, monospace;
}

section > h3 {
    color: royalblue;
    font-weight: 900;
} 

a:link {
    color: royalblue;
}
  
a:visited {
    color: red;
}
  

a:hover {
    color: darkblue;
}
  

a:active {
    color: yellow;
}

footer::before {
    content: "made by:";
    font-size: xx-small;
    font-weight: bold;
    color: blue;
}

footer::after {
    content: "Faroe Islands, Torhsavn";
    font-size: xx-small;
    font-weight: bold;
    color: red;
}

body{
    background-image: url("images/background.png");
    background-repeat: no-repeat;
    background-color: #ffffff;
    background-size: cover;
}

pre:hover{
    background-color: royalblue;
    color: white;
}

p.dope:hover{
    background-color: maroon;
    color: white;
}

tr.par{
    background-color: royalblue;
    color: white;
}

tr.impar{
    background-color: red;
    color: white;
}

th{
    color: black;
    font-weight: bold;
    font-size: 20px;
}

[target="foto"]{
    height: initial;
    width: initial;
}

p.exe9::first-letter{
    color: royalblue;
    font-weight: bold;
}

p.exe9::first-line{
    color: maroon;
}

[type="hidden"]{
    content: "lab 4";
}

.item1 { 
    grid-area: header;
 }

.item2 { 
    grid-area: nav; 
}

.item3 { 
    grid-area: main; 
}

.item4 { 
    grid-area: left; 
}

.item5 { 
    grid-area: right;
}

.item6 { 
    grid-area: footer;
}

.grid-container {
    display: grid;
    grid-template-areas:
    'header header'
    'nav nav'
    'main main'
    'left right'
    'footer footer';
    grid-gap: 10px;
    background-color: #2196F3;
    padding: 10px;
    animation-name: animacao;
    animation-duration: 2s;
    }
    
.grid-container > div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
      }

.flex-container{
    display: flex;
    height: 40px;
    background-color: DodgerBlue;
    justify-content: center;
    animation-name: animacao;
    animation-duration: 2s;
}

.flex-container > div {
    background-color: rgba(255, 255, 255, 0.8);
    margin: 3px;
    padding: 3px;
  }

ul{
    text-align: left;
}

section{
    text-align: left;
}

.flexbox{
    display: flex;
    height: 240px;
    justify-content: center;
    animation-name: animacao;
    animation-duration: 2s;
}

.flexbox > div {
    background-color: dodgerblue;
    margin: 10px;
    padding: 10px;
  }

.xd{
    font-size: 38px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    justify-content: center;
    text-align: center;
    color: maroon;
}

a > img:hover {
    box-shadow: 0 0 2px 1px maroon;
  }

.tinder:hover {
    filter:blur(2px);
    transform: scaleX(-1);
}

.drugs {
    filter:hue-rotate(90deg);
}

.old {
    filter:grayscale(100%);
}

.cartoon {
    filter:saturate(8);
}

#idk:hover {
    filter:saturate(8);
}

@keyframes animacao {
    0%   {background-color:maroon; left:0px; top:0px;}
  25%  {background-color:dodgerblue; left:200px; top:0px;}
  50%  {background-color:maroon; left:200px; top:200px;}
  75%  {background-color:dodgerblue; left:0px; top:200px;}
  100% {background-color:maroon; left:0px; top:0px;}
}

  